


.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top:10px;
	margin-bottom:15px;
	padding:20px;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

body {
	background: url('/assets/sos.png');
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

.navbar.navbar-inverse {
	background:url('/assets/binding_dark.png');
	border-radius: 0;
	box-shadow: 0px 1px 3px #404040;
}

.navbar-inverse .navbar-brand {
	color: #40C9F7;
	font-family: 'nobileregular';
}

.pagination {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;	
	
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    z-index: 3;
    color: #40c9f7;
    background-color: #eeeeee;
    border-color: #dddddd;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 2;
    color: white;
    background-color: #40c9f7;
    border-color: #40c9f7;
    cursor: default;
}

.field_with_errors {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 8px;
}


